{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "OAS-Yclients",
    "description" : "OAS for yclients",
    "contact" : {
      "email" : "alek_pol@outlook.com"
    },
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "https://api.yclients.com/api/v1"
  } ],
  "tags" : [ {
    "name" : "Authorization",
    "description" : "Авторизация пользователя"
  }, {
    "name" : "Companies",
    "description" : "Компании и сети"
  }, {
    "name" : "Staff",
    "description" : "Сотрудники компании"
  }, {
    "name" : "Users",
    "description" : "Пользователи компании"
  }, {
    "name" : "Clients",
    "description" : "Клиенты"
  }, {
    "name" : "Labels",
    "description" : "Категории"
  }, {
    "name" : "Directory",
    "description" : "Справочники"
  }, {
    "name" : "Voip",
    "description" : "События телефонии"
  }, {
    "name" : "Webhooks",
    "description" : "Вебхуки"
  } ],
  "paths" : {
    "/auth" : {
      "post" : {
        "tags" : [ "Authorization" ],
        "summary" : "Получение API-ключа пользователя",
        "description" : "## Метод позволяет получить API-ключ пользователя.\n  ---\n__Авторизация с ключом Партнера__",
        "operationId" : "getUserToken",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/auth_body"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "example" : {
                  "0" : "1234ccbbeeff1234aaddff77ee338811",
                  "id" : 100001,
                  "user_token" : "1234ccbbeeff1234aaddff77ee338811",
                  "name" : "Example_user",
                  "phone" : "7xxxxxxxxxx",
                  "login" : "7xxxxxxxxxx",
                  "email" : "user@example.com",
                  "avatar" : "https://api.yclients.com/images/no-master.png"
                }
              }
            }
          },
          "404" : {
            "description" : "Пользователя с такими параметрами авторизации не существует",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Пользователя с такими параметрами авторизации не существует"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartner" : [ ]
        } ]
      }
    },
    "/companies" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Список компаний",
        "description" : "### Метод позволяет получить список компаний\n  ---\n__Возможна авторизация с ключами:__\n  - __Партнера__;\n  - __Партнера__ и __пользователя__.",
        "operationId" : "getCompanies",
        "parameters" : [ {
          "name" : "group_id",
          "in" : "query",
          "description" : "ID сети компаний (Если нужны объекты входящие в конкретную сеть)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "title",
          "in" : "query",
          "description" : "Поиск по вхождению подстроки в название компании",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "my",
          "in" : "query",
          "description" : "Только для авторизованного пользователя. Если нужно компании, на управление которыми пользователь имеет права",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "example" : 1
          }
        }, {
          "name" : "active",
          "in" : "query",
          "description" : "Если нужно получить только активные для онлайн-записи компании",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "example" : 1
          }
        }, {
          "name" : "moderated",
          "in" : "query",
          "description" : "Если нужно получить только прошедшие модерацию компании. Т.е. чей контент проверен для публикации",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "example" : 1
          }
        }, {
          "name" : "forBooking",
          "in" : "query",
          "description" : "Если нужно получить поле next_slot по каждой компании",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "example" : 1
          }
        }, {
          "name" : "show_groups",
          "in" : "query",
          "description" : "Включить в обьект компании список сетей в которые входит эта компания",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "city_id",
          "in" : "query",
          "description" : "ID города  (см. метод - __cities__)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "example" : 1
          }
        }, {
          "name" : "coordinate_lat",
          "in" : "query",
          "description" : "Широта центра поиска по координатам",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "coordinate_lon",
          "in" : "query",
          "description" : "Долгота центра поиска по координатам",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "distance",
          "in" : "query",
          "description" : "Радиус поиска",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "Количество объектов на странице",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Номер страницы",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "allOf" : [ {
                      "$ref" : "#/components/schemas/company"
                    }, {
                      "$ref" : "#/components/schemas/access"
                    }, {
                      "type" : "object",
                      "properties" : {
                        "balance" : {
                          "type" : "integer"
                        },
                        "sms_price" : {
                          "type" : "number",
                          "format" : "float"
                        }
                      }
                    } ]
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Произошла ошибка"
          }
        },
        "deprecated" : false,
        "security" : [ {
          "bearerPartner" : [ ]
        }, {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/company/{id}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Получить компанию по ID",
        "description" : "### Метод позволяет получить компанию:\n  ---\n__Авторизация с ключом партнера__",
        "operationId" : "GetCompany",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID объекта",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "forBooking",
          "in" : "query",
          "description" : "Включить в обьект компании список сетей в которые входит эта компания",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "show_groups",
          "in" : "query",
          "description" : "Включить в обьект компании список сетей в которые входит эта компания",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company"
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Произошла ошибка"
          }
        },
        "deprecated" : false,
        "security" : [ {
          "bearerPartner" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Companies" ],
        "summary" : "Изменить компанию по ID",
        "description" : "### Метод позволяет изменить компанию\n\n  ---\n__Авторизация с ключами: партнера и пользователя__",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID объекта",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company_id_body"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Произошла ошибка"
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/groups" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Список сетей салонов",
        "description" : "### Метод позволяет получить список доступных пользователю сетей\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "operationId" : "GetNetworksAvailableToUser",
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                },
                "examples" : {
                  "groups" : {
                    "$ref" : "#/components/examples/groups"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/company/{company_id}/staff" : {
      "get" : {
        "tags" : [ "Staff" ],
        "summary" : "Список сотрудников",
        "description" : "### Метод позволяет получить список сотрудников компании\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                },
                "examples" : {
                  "staff" : {
                    "$ref" : "#/components/examples/staff"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "examples" : {
                  "company" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Филиала с идентификатором <_____> не найдено"
                      }
                    }
                  },
                  "staff" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Сотрудник с идентификатором <_____> не существует"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/company/{company_id}/staff/{staff_id}" : {
      "get" : {
        "tags" : [ "Staff" ],
        "summary" : "Сотрудник по ID",
        "description" : "### Метод позволяет получить сотрудника компании по ID\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "staff_id",
          "in" : "path",
          "description" : "ID сотрудника",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                },
                "examples" : {
                  "employee" : {
                    "$ref" : "#/components/examples/employee"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "examples" : {
                  "company" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Филиала с идентификатором <_____> не найдено"
                      }
                    }
                  },
                  "staff" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Сотрудник с идентификатором <_____> не существует"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/staff/{company_id}" : {
      "get" : {
        "tags" : [ "Staff" ],
        "summary" : "Устаревшее. Список сотрудников",
        "description" : "### Метод позволяет список сотрудников компании\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/user"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Филиала с идентификатором <номер> не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Филиала с идентификатором 2 не найдено"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Staff" ],
        "summary" : "Создание сотрудника",
        "description" : "### Метод позволяет создать сотрудника компании\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/staff_create_update"
        },
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/200_staff_post_put"
                },
                "examples" : {
                  "staff" : {
                    "$ref" : "#/components/examples/staff_post"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Филиала с идентификатором <номер> не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Филиала с идентификатором 2 не найдено"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/staff/{company_id}/{staff_id}" : {
      "get" : {
        "tags" : [ "Staff" ],
        "summary" : "Устаревшее. Поиск сотрудника по ID",
        "description" : "### Метод позволяет получить сотрудника компании по ID\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "staff_id",
          "in" : "path",
          "description" : "ID сотрудника",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "examples" : {
                  "company" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Филиала с идентификатором <_____> не найдено"
                      }
                    }
                  },
                  "staff" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Сотрудник с идентификатором <_____> не существует"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Staff" ],
        "summary" : "Изменить сотрудника по ID",
        "description" : "### Метод позволяет изменить данные сотрудника компании по ID\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "staff_id",
          "in" : "path",
          "description" : "ID сотрудника",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/staff_create_update"
        },
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/200_staff_post_put"
                },
                "examples" : {
                  "staff" : {
                    "$ref" : "#/components/examples/staff_put"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "examples" : {
                  "company" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Филиала с идентификатором <_____> не найдено"
                      }
                    }
                  },
                  "staff" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Сотрудник с идентификатором <_____> не существует"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Staff" ],
        "summary" : "Удалить сотрудника по ID",
        "description" : "### Метод позволяет удалить данные сотрудника компании по ID\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "staff_id",
          "in" : "path",
          "description" : "ID сотрудника",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Сотрудник успешно удален (Метод не возвращает тело)",
            "headers" : {
              "status" : {
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "example" : "204 No Content"
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "examples" : {
                  "company" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Филиала с идентификатором <_____> не найдено"
                      }
                    }
                  },
                  "staff" : {
                    "value" : {
                      "errors" : {
                        "code" : 404,
                        "message" : "Сотрудник с идентификатором <_____> не существует"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/company_users/{company_id}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Коллекция пользователей",
        "description" : "### Метод позволяет получить список пользователей компании\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/inline_response_200_6"
                  }
                },
                "examples" : {
                  "user" : {
                    "$ref" : "#/components/examples/user"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Филиала с идентификатором <номер> не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Филиала с идентификатором 2 не найдено"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/company/{company_id}/clients/search" : {
      "post" : {
        "tags" : [ "Clients" ],
        "summary" : "Список клиентов",
        "description" : "### Метод позволяет получить список клиентов компании\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "operationId" : "getClientsList",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/client_search"
        },
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_7"
                },
                "example" : {
                  "value" : {
                    "success" : true,
                    "data" : [ {
                      "id" : 1,
                      "name" : "Ричард",
                      "phone" : "+79998880001",
                      "sold_amount" : 500,
                      "email" : ""
                    }, {
                      "id" : 2,
                      "name" : "Martin",
                      "phone" : "+79998880002",
                      "sold_amount" : 300,
                      "email" : ""
                    } ],
                    "meta" : {
                      "total_count" : 2
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Филиала с идентификатором <номер> не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Филиала с идентификатором 2 не найдено"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/clients/{company_id}" : {
      "post" : {
        "tags" : [ "Clients" ],
        "summary" : "Добавить клиента",
        "description" : "### Метод позволяет создать клиента\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "operationId" : "createClient",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/client"
        },
        "responses" : {
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Котов",
                  "phone" : "+79998880006",
                  "email" : "agent007@example.ru",
                  "card" : "ST00006",
                  "birth_date" : "2000-12-16",
                  "comment" : "не берет трубку",
                  "discount" : 15,
                  "visits" : 0,
                  "sex_id" : 1,
                  "sex" : "Мужской",
                  "sms_check" : 1,
                  "sms_bot" : 0,
                  "spent" : 500,
                  "paid" : 550,
                  "balance" : 50,
                  "importance_id" : 2,
                  "importance" : "Серебро",
                  "categories" : [ {
                    "id" : 101,
                    "title" : "Лояльный",
                    "color" : "#bfd4f2"
                  } ],
                  "last_change_date" : "2020-10-18T05:03:49+0200",
                  "custom_fields" : { }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Филиала с идентификатором <номер> не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Филиала с идентификатором 2 не найдено"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/client/{company_id}/{id}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Получить клиента по ID",
        "description" : "### Метод позволяет получить данные клиента\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "operationId" : "getClient",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID объекта",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Котов",
                  "phone" : "+79998880006",
                  "email" : "agent007@example.ru",
                  "card" : "ST00006",
                  "birth_date" : "2000-12-16",
                  "comment" : "не берет трубку",
                  "discount" : 15,
                  "visits" : 0,
                  "sex_id" : 1,
                  "sex" : "Мужской",
                  "sms_check" : 1,
                  "sms_bot" : 0,
                  "spent" : 500,
                  "paid" : 550,
                  "balance" : 50,
                  "importance_id" : 2,
                  "importance" : "Серебро",
                  "categories" : [ {
                    "id" : 101,
                    "title" : "Лояльный",
                    "color" : "#bfd4f2"
                  } ],
                  "last_change_date" : "2020-10-18T05:03:49+0200",
                  "custom_fields" : { }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Филиала с идентификатором <номер> не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Филиала с идентификатором 2 не найдено"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Clients" ],
        "summary" : "Изменить клиента",
        "description" : "### Метод позволяет изменить данные клиента\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "operationId" : "editClient",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID объекта",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/client"
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                },
                "example" : {
                  "id" : 1,
                  "name" : "Котов",
                  "phone" : "+79998880006",
                  "email" : "agent007@example.ru",
                  "card" : "ST00006",
                  "birth_date" : "2000-12-16",
                  "comment" : "не берет трубку",
                  "discount" : 15,
                  "visits" : 0,
                  "sex_id" : 1,
                  "sex" : "Мужской",
                  "sms_check" : 1,
                  "sms_bot" : 0,
                  "spent" : 500,
                  "paid" : 550,
                  "balance" : 50,
                  "importance_id" : 2,
                  "importance" : "Серебро",
                  "categories" : [ {
                    "id" : 101,
                    "title" : "Лояльный",
                    "color" : "#bfd4f2"
                  } ],
                  "last_change_date" : "2020-10-18T05:03:49+0200",
                  "custom_fields" : { }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Филиала с идентификатором <номер> не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Филиала с идентификатором 2 не найдено"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/labels/{company_id}/{entity}" : {
      "get" : {
        "tags" : [ "Labels" ],
        "summary" : "Список категорий (по типу категории)",
        "description" : "### Метод позволяет получить список категорий отфильтрованный по типу ктегории\n  ---\n  __Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "entity",
          "in" : "path",
          "description" : "Объект категории (0 - общие метки, 1 - метки клиентов, 2 - метки записей, 3 - категории событий)",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/label"
                  }
                },
                "examples" : {
                  "labels" : {
                    "$ref" : "#/components/examples/labels"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/labels/{company_id}" : {
      "get" : {
        "tags" : [ "Labels" ],
        "summary" : "Список категорий компании (общие метки)",
        "description" : "### Метод позволяет получить список категории компании (общие метки)\n  ---\n  __Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/label"
                  }
                },
                "example" : [ {
                  "id" : "2777801",
                  "salon_id" : "396985",
                  "title" : "test1",
                  "color" : "002211",
                  "icon" : "",
                  "slug" : "",
                  "entity" : "0",
                  "deleted" : "0",
                  "not_editable" : "0"
                }, {
                  "id" : "2777809",
                  "salon_id" : "396985",
                  "title" : "test2",
                  "color" : "002211",
                  "icon" : "",
                  "slug" : "",
                  "entity" : "0",
                  "deleted" : "0",
                  "not_editable" : "0"
                } ]
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Labels" ],
        "summary" : "Создание категории (любого типа)",
        "description" : "### Метод позволяет создавать категории компании (любого типа)\n  ---\n  __Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/labels_company_id_body"
              },
              "examples" : {
                "entity_2" : {
                  "value" : {
                    "title" : "еntity_2",
                    "color" : "#d6f2d4",
                    "entity" : "2",
                    "icon" : "tag"
                  }
                },
                "entity_3" : {
                  "value" : {
                    "title" : "еntity_3",
                    "color" : "#d6f2d4",
                    "entity" : "3",
                    "icon" : "money"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_202"
                },
                "example" : {
                  "success" : true,
                  "meta" : {
                    "message" : "Accepted"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/labels/{company_id}/{label_id}" : {
      "put" : {
        "tags" : [ "Labels" ],
        "summary" : "Изменение категории",
        "description" : "### Метод позволяет изменять категории\n  ---\n  __Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "label_id",
          "in" : "path",
          "description" : "id категории",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company_id_label_id_body"
              },
              "example" : {
                "title" : "еntity_2",
                "color" : "#d6f2d4",
                "entity" : "2",
                "icon" : "tag"
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_202"
                },
                "example" : {
                  "success" : true,
                  "meta" : {
                    "message" : "Accepted"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Labels" ],
        "summary" : "Удаление категории",
        "description" : "### Метод позволяет удалять категории\n  ---\n  __Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "label_id",
          "in" : "path",
          "description" : "id категории",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_202"
                },
                "example" : {
                  "success" : true,
                  "meta" : {
                    "message" : "Accepted"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/labels/{company_id}/clients" : {
      "get" : {
        "tags" : [ "Labels" ],
        "summary" : "Список клиентских категорий",
        "description" : "### Метод позволяет получить список клиентских категорий\n  ---\n  __Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Номер страницы",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "term",
          "in" : "query",
          "description" : "Поиск по названию категории",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "VIP"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_8"
                },
                "examples" : {
                  "labels" : {
                    "$ref" : "#/components/examples/labels_clients"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/labels/{company_id}/clients/create" : {
      "post" : {
        "tags" : [ "Labels" ],
        "summary" : "Создать клиентскую категорию",
        "description" : "### Метод позволяет создавать клиентские категории\n  ---\n  __Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/clients_create_body"
              },
              "example" : {
                "title" : "stop",
                "color" : "#d6f2d4"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_9"
                },
                "example" : {
                  "success" : true,
                  "data" : {
                    "title" : "stop",
                    "salon_id" : 85,
                    "color" : "#d6f2d4",
                    "entity" : 1,
                    "id" : "103"
                  },
                  "meta" : [ ]
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/countries" : {
      "get" : {
        "tags" : [ "Directory" ],
        "summary" : "Список стран",
        "description" : "### Метод позволяет получить список стран\n  ---\n__Авторизация с ключом Партнера__",
        "operationId" : "getListOfCountries",
        "parameters" : [ {
          "name" : "count",
          "in" : "query",
          "description" : "Количество объектов на странице",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Номер страницы",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/inline_response_200_10"
                  }
                },
                "examples" : {
                  "countries" : {
                    "$ref" : "#/components/examples/countries"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartner" : [ ]
        } ]
      }
    },
    "/cities" : {
      "get" : {
        "tags" : [ "Directory" ],
        "summary" : "Список городов",
        "description" : "### Метод позволяет получить список городов\n  ---\n  __Авторизация с ключом Партнера__\n  \n  __Примечание к параметрам:__\n  - ID страны, из которой нужно получить города;\n  - ID филиала. Если передан, будет возвращен так же город филиала, независимо от того, относится он к указанной стране или нет.",
        "operationId" : "getListOfCities",
        "parameters" : [ {
          "name" : "country_id",
          "in" : "query",
          "description" : "ID страны  (см. метод - __countries__)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "example" : 1
          }
        }, {
          "name" : "salon_id",
          "in" : "query",
          "description" : "ID филиала",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "example" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/inline_response_200_11"
                  }
                },
                "examples" : {
                  "cities" : {
                    "$ref" : "#/components/examples/cities"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartner" : [ ]
        } ]
      }
    },
    "/references/business_groups_with_types/" : {
      "get" : {
        "tags" : [ "Directory" ],
        "summary" : "Список бизнес-типов",
        "description" : "### Метод позволяет получить список бизнес-типов\n  ---\n  - __Авторизация с ключом Партнера__\n  - __Авторизация с ключами партнера и пользователя__",
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_12"
                },
                "examples" : {
                  "business_groups" : {
                    "$ref" : "#/components/examples/business_groups"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    },
    "/voip/integration/" : {
      "post" : {
        "tags" : [ "Voip" ],
        "summary" : "Подключить / отключить интеграцию; уведомление о звонке; сохраниение",
        "description" : "## Метод позволяет подключить интеграцию\n  ---\n__Авторизация с ключом Партнера__\n  \n  ---\n__Возможности метода:__\n  1. __Подключить интеграцию__ - для использования api и активации доступа к настройкам в пользовательском интерфейсе необходимо активировать интеграцию, отправив запрос \"Подключить интеграцию\".После успешного подключения, в `сетевом` интерфейсе пользователя будет открыт доступ в раздел с настройками маршрутизаци\n  2. __Отключить интеграцию__ - Для отключения интеграции можно воспользоваться методом \"Отключить интеграцию\". После отключения интеграции закрывается доступ в раздел настроек пользовательского интерфейса, обработка запросов \"Уведомление о звонке\" и \"Сохранение информации о звонке\" не производится.\n  3. __Уведомление о звонке__ - Для отображения уведомлений о входящем звонке используется метод \"Уведомление о звонке\", в параметрах указыватеся тип звонка (\"incoming\", \"outgoing\", \"internal\"), но на текущий момент уведомления отображаются только для значения \"incoming\". Уведомления отображаются для пользователей, определенных на основе настроек маршрутизации. При одновременном указании параметров \"user\" и \"diversion\" приоритетным при поиске маршрутов является \"user\".\n  4. __Сохранение информации о звонке__ - Сохранение информации о звонке автоматически происходит в сетевую историю и в историю компаний сети в соответствии с настройками маршрутизации звонка.",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/voip_integration_body"
              },
              "examples" : {
                "add" : {
                  "value" : {
                    "command" : "setup",
                    "type" : "enable",
                    "crm_token" : "7cf262d6-1656-43f9-86ac-2826bdc125d2"
                  }
                },
                "del" : {
                  "value" : {
                    "command" : "setup",
                    "type" : "disable",
                    "crm_token" : "7cf262d6-1656-43f9-86ac-2826bdc125d2"
                  }
                },
                "event" : {
                  "value" : {
                    "command" : "event",
                    "type" : "incoming",
                    "crm_token" : "7cf262d6-1656-43f9-86ac-2826bdc125d2",
                    "phone" : "71010001100",
                    "user" : "external_user_id",
                    "diversion" : "71010001122"
                  }
                },
                "history" : {
                  "value" : {
                    "command" : "history",
                    "type" : "incoming",
                    "crm_token" : "7cf262d6-1656-43f9-86ac-2826bdc125d2",
                    "phone" : "71010001100",
                    "user" : "external_user_id",
                    "diversion" : "71010001122",
                    "duration" : 90,
                    "link" : "https://external.call.storage/call_record.mp3",
                    "call_id" : "external_call_id",
                    "status" : "success",
                    "date" : "2018-03-20T12:00:28+00:00"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "202" : {
            "description" : "Accepted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_202_1"
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartner" : [ ]
        } ]
      }
    },
    "/hooks_settings/{company_id}" : {
      "get" : {
        "tags" : [ "Webhooks" ],
        "summary" : "Настройки уведомлений о событиях",
        "description" : "### Метод позволяет получить настройки уведомлений о событиях\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/webhook"
                },
                "examples" : {
                  "webhook" : {
                    "$ref" : "#/components/examples/webhook"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Филиала с идентификатором <номер> не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Филиала с идентификатором 2 не найдено"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Webhooks" ],
        "summary" : "Изменение настроек уведомлений",
        "description" : "### Метод позволяет изменить настройки уведомлений о событиях\n  ---\n__Авторизация с ключами партнера и пользователя__",
        "parameters" : [ {
          "name" : "company_id",
          "in" : "path",
          "description" : "ID филиала",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/webhook"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Запрос выполнен успешно",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/webhook"
                },
                "examples" : {
                  "webhook" : {
                    "$ref" : "#/components/examples/webhook"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Не указаны авторизационные данные",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "example" : {
                  "success" : false,
                  "meta" : {
                    "message" : "Не указаны авторизационные данные"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Филиала с идентификатором <номер> не найдено",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/errors"
                },
                "example" : {
                  "errors" : {
                    "code" : 404,
                    "message" : "Филиала с идентификатором 2 не найдено"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerPartnerUser" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "company" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Идентификатор компании"
          },
          "title" : {
            "type" : "string",
            "description" : "Название филиала (Используется внутри системы)"
          },
          "public_title" : {
            "type" : "string",
            "description" : "Название компании (Используется на внешних ресурсах)"
          },
          "short_descr" : {
            "type" : "string",
            "description" : "Категория компании"
          },
          "logo" : {
            "type" : "string",
            "description" : "Адрес изображения логотипа компании"
          },
          "country_id" : {
            "type" : "integer",
            "description" : "Идентификатор страны, в которой расположена компания",
            "format" : "int32"
          },
          "country" : {
            "type" : "string",
            "description" : "Название страны компании"
          },
          "city_id" : {
            "type" : "integer",
            "description" : "Идентификатор города, в котором расположена компания)",
            "format" : "int32"
          },
          "city" : {
            "type" : "string",
            "description" : "Название города компании"
          },
          "active" : {
            "type" : "integer",
            "description" : ""
          },
          "phone" : {
            "type" : "string",
            "description" : "Номер телефона компании"
          },
          "phones" : {
            "type" : "array",
            "description" : "Номера телефонов компании",
            "items" : {
              "type" : "string"
            }
          },
          "timezone" : {
            "type" : "integer",
            "description" : "Timezone компании"
          },
          "timezone_name" : {
            "type" : "string",
            "description" : "Timezone компании (название)"
          },
          "schedule" : {
            "type" : "string",
            "description" : "Расписание работы компании"
          },
          "address" : {
            "type" : "string",
            "description" : "Адрес, по которому расположена компания"
          },
          "coordinate_lat" : {
            "type" : "number",
            "description" : "Широта, на которой расположена компания",
            "format" : "float"
          },
          "coordinate_lon" : {
            "type" : "number",
            "description" : "Долгота, на которой расположена компания",
            "format" : "float"
          },
          "app_ios" : {
            "type" : "string",
            "description" : "Ссылка на приложение под ios"
          },
          "app_android" : {
            "type" : "string",
            "description" : "Ссылка на приложение под android"
          },
          "phone_confirmation" : {
            "type" : "boolean",
            "description" : "Нужно ли подтверждать телефон по смс"
          },
          "currency_short_title" : {
            "type" : "string",
            "description" : "Краткое обозначение валюты"
          },
          "reminds_sms_disabled" : {
            "type" : "boolean",
            "description" : "True - если у компании выключен сервис SMS напоминаний клиентам"
          },
          "reminds_sms_default" : {
            "type" : "integer",
            "description" : ""
          },
          "group_priority" : {
            "type" : "integer",
            "description" : "Чем больше приоритет, тем выше компания при выводе в списке филиалов сети",
            "format" : "int32"
          },
          "bookform_group_priority" : {
            "type" : "integer",
            "description" : ""
          },
          "description" : {
            "type" : "string",
            "description" : "Описание"
          },
          "photos" : {
            "type" : "array",
            "description" : "",
            "items" : {
              "type" : "string"
            }
          },
          "seance_delay_step" : {
            "type" : "integer",
            "description" : ""
          },
          "show_any_master" : {
            "type" : "boolean",
            "description" : ""
          },
          "allow_delete_record" : {
            "type" : "boolean",
            "description" : "Удаление записи"
          },
          "allow_change_record" : {
            "type" : "boolean",
            "description" : "Изменение записи"
          },
          "allow_change_record_delay_step" : {
            "type" : "integer",
            "description" : "Запретить изменять записи за период. (В секундах)"
          },
          "allow_delete_record_delay_step" : {
            "type" : "integer",
            "description" : "Запретить удалять записи за период. (В секундах)"
          },
          "timetable_off" : {
            "type" : "boolean",
            "description" : ""
          },
          "site" : {
            "type" : "string",
            "description" : "Ссылка на сайт"
          },
          "zip" : {
            "type" : "integer",
            "description" : "Почтовый код (индекс)"
          },
          "business_group_id" : {
            "type" : "integer",
            "description" : ""
          },
          "business_type_id" : {
            "type" : "integer",
            "description" : ""
          },
          "is_charge_active" : {
            "type" : "boolean",
            "description" : ""
          },
          "print_bill_on" : {
            "type" : "integer",
            "description" : ""
          },
          "print_bill_type" : {
            "type" : "string",
            "description" : ""
          },
          "record_type_id" : {
            "type" : "integer",
            "description" : ""
          },
          "auto_pay_account_id" : {
            "type" : "integer",
            "description" : ""
          },
          "auto_pay_bank_account_id" : {
            "type" : "integer",
            "description" : ""
          },
          "is_admin_app" : {
            "type" : "integer",
            "description" : ""
          },
          "push_notification_phone_confirm" : {
            "type" : "integer",
            "description" : ""
          },
          "switched_to_tariff" : {
            "type" : "boolean",
            "description" : ""
          },
          "sms_enabled" : {
            "type" : "boolean",
            "description" : ""
          },
          "activity_record_clients_count_max" : {
            "type" : "integer",
            "description" : ""
          },
          "activity_online_record_clients_count_max" : {
            "type" : "integer",
            "description" : ""
          },
          "is_individual" : {
            "type" : "boolean",
            "description" : ""
          },
          "social" : {
            "$ref" : "#/components/schemas/social"
          },
          "main_group_id" : {
            "type" : "integer",
            "description" : "ID основного филиала"
          },
          "main_group" : {
            "$ref" : "#/components/schemas/company_main_group"
          },
          "active_staff_count" : {
            "type" : "integer",
            "description" : "Кол-во сотрудников доступных для бронирования",
            "format" : "int32"
          },
          "next_slot" : {
            "type" : "string",
            "description" : "Дата и время ближайшего свободного сеанса в компании(ISO8601). Поле будет присутствовать только если передан `GET параметр forBooking=1`"
          },
          "booking_notify_text" : {
            "type" : "string",
            "description" : "Текст уведомления, которое выводится (если задано) на шаге ввода контактных данных"
          },
          "booking_comment_input_name" : {
            "type" : "string",
            "description" : "Заголовок для поля с вводом комментария к записи (если не задано, то используется значение по умолчанию)"
          },
          "booking_comment_required" : {
            "type" : "boolean",
            "description" : "Является ли поле с комментарием к записи обязательным для заполнения"
          },
          "booking_email_required" : {
            "type" : "boolean",
            "description" : "Является ли поле Email к записи обязательным для заполнения"
          }
        }
      },
      "social" : {
        "type" : "object",
        "properties" : {
          "facebook" : {
            "type" : "string",
            "description" : "Аккаунт в Facebook"
          },
          "vk" : {
            "type" : "string",
            "description" : "Аккаунт во Вконтакте"
          },
          "instagram" : {
            "type" : "string",
            "description" : "Аккаунт в Instagram"
          },
          "telegram" : {
            "type" : "string",
            "description" : "Аккаунт в Telegram"
          },
          "whatsapp" : {
            "type" : "string",
            "description" : "Аккаунт в Whatsapp"
          },
          "viber" : {
            "type" : "string",
            "description" : "Аккаунт в Viber"
          }
        }
      },
      "access" : {
        "type" : "object",
        "properties" : {
          "access" : {
            "type" : "object",
            "description" : "Объект с правами доступа для управления компанией (Только для авторизованного пользователя)"
          }
        }
      },
      "access_group" : {
        "type" : "object",
        "properties" : {
          "access" : {
            "$ref" : "#/components/schemas/access_group_access"
          }
        }
      },
      "staff_new" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Идентификатор сотрудника"
          },
          "name" : {
            "type" : "string",
            "description" : "Имя сотрудника"
          },
          "company_id" : {
            "type" : "integer",
            "description" : "Идентификатор компании"
          },
          "specialization" : {
            "type" : "string",
            "description" : "Специализация сотрудника"
          },
          "avatar" : {
            "type" : "string",
            "description" : "Путь к файлу аватарки сотрудника"
          },
          "avatar_big" : {
            "type" : "string",
            "description" : "Путь к файлу аватарки сотрудника в более высоком разрешении"
          },
          "fired" : {
            "type" : "integer",
            "description" : "статус увольнения (1 - уволен, 0 - не уволен)"
          },
          "status" : {
            "type" : "integer",
            "description" : ""
          },
          "hidden" : {
            "type" : "integer",
            "description" : "1 - скрыт от онлайн записей, 0 - не скрыт"
          },
          "position" : {
            "$ref" : "#/components/schemas/staff_position"
          }
        }
      },
      "user" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Идентификатор сотрудника"
          },
          "api_id" : {
            "type" : "string",
            "description" : "Внешний идентификатор сотрудника",
            "nullable" : true
          },
          "name" : {
            "type" : "string",
            "description" : "Имя сотрудника"
          },
          "specialization" : {
            "type" : "string",
            "description" : "Специализация сотрудника"
          },
          "rating" : {
            "type" : "integer",
            "description" : "Ретинг сотрудника"
          },
          "show_rating" : {
            "type" : "integer",
            "description" : "Показывать ли рейтинг сотрудника (1 - показывать, 0 - не показывать)"
          },
          "avatar" : {
            "type" : "string",
            "description" : "Путь к файлу аватарки сотрудника"
          },
          "avatar_big" : {
            "type" : "string",
            "description" : "Путь к файлу аватарки сотрудника в более высоком разрешении"
          },
          "comments_count" : {
            "type" : "integer",
            "description" : "Кол-во комментариев к сотрунику"
          },
          "votes_count" : {
            "type" : "integer",
            "description" : "Кол-во голос, оценивших сотрудника"
          },
          "bookable" : {
            "type" : "boolean"
          },
          "image_group" : {
            "$ref" : "#/components/schemas/image_group"
          },
          "information" : {
            "type" : "string",
            "description" : "Дополнительная информация о сотруднике (HTML формат)"
          },
          "position_id" : {
            "type" : "integer"
          },
          "schedule_till" : {
            "type" : "string"
          },
          "weight" : {
            "type" : "integer",
            "description" : "Вес сотрудника. При выводе сотрудники сортируются по весу, сначала более тяжелые"
          },
          "fired" : {
            "type" : "integer",
            "description" : "статус увольнения (1 - уволен, 0 - не уволен)"
          },
          "status" : {
            "type" : "integer",
            "description" : ""
          },
          "hidden" : {
            "type" : "integer",
            "description" : "1 - скрыт от онлайн записей, 0 - не скрыт"
          },
          "user" : {
            "$ref" : "#/components/schemas/user_simple"
          },
          "prepaid" : {
            "type" : "string"
          },
          "position" : {
            "$ref" : "#/components/schemas/staff_position"
          },
          "additional_info" : {
            "$ref" : "#/components/schemas/user_additional_info"
          }
        }
      },
      "user_simple" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "name" : {
            "type" : "string",
            "description" : "login"
          },
          "firstname" : {
            "type" : "string",
            "description" : "Имя"
          },
          "phone" : {
            "type" : "string",
            "description" : "Номер телефона"
          },
          "email" : {
            "type" : "string",
            "description" : "E-mail"
          },
          "deleted" : {
            "type" : "integer"
          },
          "group_id" : {
            "type" : "integer"
          },
          "team_id" : {
            "type" : "integer"
          },
          "city_id" : {
            "type" : "integer",
            "description" : "Id-города"
          },
          "ext" : {
            "type" : "integer"
          },
          "amo_user_id" : {
            "type" : "integer"
          },
          "amo_contact_id" : {
            "type" : "integer"
          },
          "avatar" : {
            "type" : "string"
          }
        }
      },
      "user_additional_info" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Имя"
          },
          "surname" : {
            "type" : "string",
            "description" : "Фамилия"
          },
          "patronymic" : {
            "type" : "string",
            "description" : "Отчество"
          },
          "date_admission" : {
            "type" : "string",
            "description" : "Дата приема на работу"
          },
          "date_registration_end" : {
            "type" : "string",
            "description" : "Дата окончания регистрации/патента"
          },
          "phone_number" : {
            "type" : "string",
            "description" : "Номер телефона"
          },
          "citizenship" : {
            "type" : "string",
            "description" : "Гражданство"
          },
          "sex" : {
            "type" : "string",
            "description" : "Пол"
          },
          "sex_id" : {
            "type" : "integer",
            "description" : "Пол (id)"
          },
          "passport_data" : {
            "type" : "string",
            "description" : "Паспортные данные"
          },
          "inn" : {
            "type" : "string",
            "description" : "ИНН"
          },
          "number_insurance_certificates" : {
            "type" : "string",
            "description" : "Номер страхового свидетельства"
          }
        }
      },
      "image_group" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "entity" : {
            "type" : "string"
          },
          "entity_id" : {
            "type" : "integer"
          },
          "images" : {
            "$ref" : "#/components/schemas/image_group_images"
          }
        },
        "description" : "Группа изображений сотрудника"
      },
      "image" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "path" : {
            "type" : "string"
          },
          "width" : {
            "type" : "string"
          },
          "height" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string",
            "description" : "file extension (for example .jpeg)"
          },
          "image_group_id" : {
            "type" : "integer"
          },
          "version" : {
            "type" : "string",
            "description" : "sm / norm / origin"
          }
        }
      },
      "staff_position" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Должность (id)"
          },
          "title" : {
            "type" : "string",
            "description" : "Должность (наименование)"
          }
        },
        "description" : "Должность сотрудника"
      },
      "label" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "ID категории"
          },
          "salon_id" : {
            "type" : "string",
            "description" : "ID компании"
          },
          "title" : {
            "type" : "string",
            "description" : "Название категории"
          },
          "color" : {
            "type" : "string",
            "description" : "Цвет метки в формате #RRGGBB"
          },
          "icon" : {
            "type" : "string",
            "description" : "Название иконки"
          },
          "slug" : {
            "type" : "string"
          },
          "entity" : {
            "type" : "string",
            "description" : "Объект категории"
          },
          "deleted" : {
            "type" : "string",
            "description" : "Метка удаления"
          },
          "not_editable" : {
            "type" : "string",
            "description" : "Разрешены ли изменения категории (1 - разрешены, 0 - не разрешены)"
          }
        }
      },
      "operation" : {
        "title" : "operation",
        "type" : "string",
        "description" : "Тип операции",
        "enum" : [ "AND", "OR" ]
      },
      "order_by" : {
        "title" : "order_by",
        "type" : "string",
        "description" : "По какому полю сортировать",
        "enum" : [ "id", "name", "phone", "email", "discount", "first_visit_date", "last_visit_date", "sold_amount", "visits_count" ]
      },
      "order_by_direction" : {
        "title" : "order_by_direction",
        "type" : "string",
        "description" : "Порядок сортировки",
        "enum" : [ "DESC", "ASC" ]
      },
      "client_id_filter" : {
        "title" : "client_id_filter",
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Поиск по идентификатору клиента",
            "example" : "'id'"
          },
          "state" : {
            "$ref" : "#/components/schemas/state"
          }
        }
      },
      "state" : {
        "title" : "state",
        "type" : "object",
        "properties" : {
          "invert" : {
            "type" : "boolean"
          },
          "value" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          }
        }
      },
      "categories" : {
        "type" : "array",
        "description" : "Массив идентификаторов категорий клиента",
        "items" : {
          "$ref" : "#/components/schemas/categories_inner"
        }
      },
      "voip_add_dell" : {
        "description" : "Подключение/отключение интеграции",
        "allOf" : [ {
          "$ref" : "#/components/schemas/voip"
        } ]
      },
      "voip_event" : {
        "description" : "Уведомление о звонке",
        "allOf" : [ {
          "$ref" : "#/components/schemas/voip"
        }, {
          "required" : [ "diversion", "phone" ],
          "type" : "object",
          "properties" : {
            "phone" : {
              "type" : "string",
              "description" : "Номер звонящего абонента"
            },
            "user" : {
              "type" : "string",
              "description" : "Идентификатор абонента телефонии, sip"
            },
            "diversion" : {
              "type" : "string",
              "description" : "Номер через который пришел звонок"
            }
          }
        } ]
      },
      "voip_history" : {
        "description" : "Сохранение информации о звонке",
        "allOf" : [ {
          "$ref" : "#/components/schemas/voip"
        }, {
          "required" : [ "diversion", "phone" ],
          "type" : "object",
          "properties" : {
            "phone" : {
              "type" : "string",
              "description" : "Номер звонившего абонента"
            },
            "user" : {
              "type" : "string",
              "description" : "Идентификатор абонента телефонии, sip"
            },
            "diversion" : {
              "type" : "string",
              "description" : "Номер через который пришел звонок"
            },
            "duration" : {
              "type" : "number",
              "description" : "Длительность звонка (в секундах)"
            },
            "link" : {
              "type" : "string",
              "description" : "Ссылка на запись звонка"
            },
            "call_id" : {
[...]
